body{
  font-family: Montserrat, sans-serif;


}





.footer{
  text-align: center;
  background-size: cover;

  background-image:  url("../img/people-bg.png") ;
  //width: 100%;
  //height: 878px;
  background-position: center;

}




.footer-cards{
  display: flex;
flex-wrap: wrap;
  justify-content: center;

}

.footer-title{
  padding-top: 88px;
  margin-bottom: 61px;
  line-height: 50px;

  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.cards-item{

  color: #FFFFFF;
  background: rgba(141, 129, 172, 0.3);
margin: 5px;
  width: 257px;
  height: 467px;

}



.footer-cards-item{
  //display: inline-block;
  //width: 23%;

}


.cards-title{
  text-transform: uppercase;
  font-size: 24px;
  height: 97px;
  padding-top: 40px;
 //background-color: rgba(0,0,0,0.5);
  background: rgba(141, 129, 172, 0.2);

}

.cards-price{
  margin-top: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
}

.cards-sub-price{
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.cards-line{

  width: 60px;
  height: 5px;
  background:#8D81AC;
  margin: 0 auto;


}

.cards-product{
  font-size: 16px;
  margin-top: 30px;


}

.cards-button{
  width: 160px;
  height: 42px;
  text-transform: uppercase;

  border-radius: 20px;
  text-align: center;
   display: inline-block;
  margin-top: 50px;
  padding-top: 13px;
  background-color: #807080;

}

.cards-item-select{
  margin-top: 30px;
  margin-bottom: 30px;
  transform: scale(1.1);
  margin-left: 15px;
  margin-right: 15px;
  background-color: #483249;

  .cards-title{
    background-color: #3F2C41;
  }
}



//@media screen  and (max-width: 320px){
//  .footer-cards{
//   display: flex;
//
//  }
//}