body{
 font-family: sans-serif;
}
.container-header{
   margin-bottom: 130px;
   box-sizing: border-box;

}
.header__log-and-button{
   width: 100%;
   display: flex;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
}

.burger-menu{
   padding-right: 15px;
   display: flex;
	justify-content: flex-end;
}


.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
   
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	 position: absolute;
   text-align: center;
	top: 0;
	right: 0;
   display: none;
	transition: transform 0.5s; 
   width: 200px;
   background:  #333333;
}
.menu.active {
   margin-top: 103px ;
   right: 0 ;
   display: block;
}

.menu-li {
   font-size: 26px;
line-height: 26px;
padding-top:25px ;
padding-bottom: 25px;
text-align:center;
	list-style: none;
   text-decoration: none;
   border-bottom: #848E97  1px solid;
   color: white;
}

.menu-link{
   font-family: sans-serif;
   color: white;
}

.menu-link:hover{
color: #8D81AC;
}

.menu-li:hover{
   border-left: #8D81AC 5px solid ;
   
}


.menu-btn.active span:nth-of-type(1) {
   display: none;
 }
 .menu-btn.active span:nth-of-type(2) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(45deg);  
 }
 .menu-btn.active span:nth-of-type(3) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(-45deg); 
 }

.container-header{
   width: 100%;
   height: 718px;
   background: url(../img/imgHeader.png) 0 0 no-repeat;
   background-position: center;
}

.nav-header{
   width: 100%;
   display: flex;
   align-items: center;
      justify-content: space-between;
height: 103px;
background: #27262A;
}

.header-button{
   padding: 0 auto;
   margin: 0 auto;
}
.buy-now-btn{
   border:none;
   width: 119px;
   height: 37px;
   border-radius: 40px;
   color: white;
   background: #8D81AC;
}
.buy-now-btn:hover{
   color:#8D81AC ;
   background: white;
}

.logo-svg{
  @include elem-centered;
}

.header__sub-logo-text{
   font-family: sans-serif;
   font-weight: bold;
   display: none;
   padding-left: 15px;
   font-size: 24px;
color: #8D81AC;
}

.main__header-text{
   font-family: sans-serif;
   margin: 0 auto;
   width: 300px;
}
.header__main-text{
   padding-top: 50px;
   text-align: center;
   margin: 0 auto;
   font-weight: bold;
font-size: 48px;
line-height: 48px;
   width: 265.89px;
height: 48px;
   color: white;
}

.header__sub-text{
   padding-top: 20px;
   text-align: center;
   font-size: 18px;
line-height: 24px;
color: #8D81AC;
}
.header__sub-string{
   padding-top: 15px;
   text-align: center;
   font-size: 14px;
line-height: 14px;
color: #848E97;
}

.header__down-button{
   text-align: center;
}
.down-button{
   margin-top: 400px;
   width: 290px;
   height: 45px;
   color: white;
   background: #8D81AC;
   border: none;
   border-radius: 40px;
}
.down-button:hover{
   color:#8D81AC ;
   background: white;
}

.header_down-btn-text{
   padding-top: 25px;
   font-family: sans-serif;
   font-size: 14px;
line-height: 14px;
color: #848E97;
}


.main-fork{
   width: 100%;
   font-family: sans-serif;
   text-align: center;
   background: url(../img/bgforkmain.png) 0 0  no-repeat;
   background-position: center;
   background-size: cover;
   
}
.main__fork-string{
   margin: 0 auto;
   width: 270px;
   font-size: 36px;
line-height: 48px;
color: #FFFFFF;
}
.main__fork-logo-text{
   margin: 0 auto;
   width: 270px;
}

.main__fork_logo-img{
   padding-top: 50px;
}

.main_fork__under-logo-text{
   padding-top: 30px;
   color: white;
}

.main__fork_footer-text{
   padding-top: 30px;
   font-size: 14px;
   padding-bottom: 30px;
   color:  #A291A5;
}

.main__fork_under-line{
   margin: 0 auto;
   width: 245px;
   height: 2px;
    background: #645766;
}


@media screen and (min-width:600px) {
  
   .buy-now-btn{
      order: 3;
   }
  .logo{
     order: 1;
     display: flex;
     align-items:center ;
  }
  
   .header__sub-logo-text{
      display: block;
   }

   .header__logo-and-btn{
      margin: 0 auto;
   }

   .burger-menu{
      margin-top: 50px;
      padding-right: 0;
      order: 2;
      display: block;
   }
   .menu-btn{
     display: none;
   }
.header-button{
padding-left: 400px;
   display:flex;     
   justify-content: flex-end;
}

   .nav-header{
      justify-content: space-evenly;
      height: 115px;
      width: 100%;
   background: #27262A;
      
   }

   .menu-btn{
      display: none;
   }

   .menu{
      position: static;
      width: 350px;
      text-align: center;
      display: block;
      background: none;
   }

   .menu-nav-list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      
   }

.menu-link{
   font-size: 16px;
line-height: 18px;
color: #8D81AC;
}

   .menu-li{
   border-bottom: none;
  }
  .menu-li:hover{
     border: none;
  }
  .menu-link:hover{
     color: white;
  }


  .main__fork-logo-text{
     columns: 2 auto;
     width: auto;
  }
  .main__fork-string{
     width: auto;
  }

  .down-button{
     margin-top: 390px;
  } 

.logo:hover .logo-svg{
   content: url(../img/logo-hover\ 1.png);
}
.logo:hover{
   content:"";
   color: white;
}

.header__sub-logo-text:hover{
   cursor: pointer;
   color: white;
}
.main__fork_under-line{
   width: 555px;
}

}



@media screen and (min-width:993px) {

   .nav-header{
      background: none;
   }

.burger-menu{
   margin: 0;
}

.menu{
   padding-left: 200px;
   margin-top: 0;
   width: 500px;
}

.main_fork__under-logo-text{
   margin: 0 auto;
   width: 340px;
}

.main__fork-logo-text{
   columns: 3 auto;
}

.main__fork_footer-text{
   margin: 0 auto;
   width: 885px;
}
.main__fork_under-line{
   width: 780px;
}

}
