




//.main-background{
//  background-color: #e9e9e9;
//}

.main{
  font-family: sans-serif;
}
.main-info{
  font-family: sans-serif;
}

.footer{
  font-family: sans-serif;
  padding-bottom: 50PX;

}

.main-title{
  
  //font-size: 54px;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #635c73;

}

.main-subtitle{

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;

}


.main-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

  //.main-button{
  //
  //  border: #5d5d5d solid 1px;
  //  border-radius: 3px;
  //  margin-bottom: 40px;
  //  margin-top: 40px;
  //  width: 100px;
  //  height: 26px;
  //  display: flex;
  //}
  //
  //.main-button-svg{
  //background-image: url("../img/svg/watch.svg");
  //  width: 30px;
  //  height: 20px;
  //  margin-left: 5px;
  //  background-repeat: no-repeat;
//}






.main-button-class{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-right: #5d5d5d solid 1px;



}

.main-info{
  background-color: #e9e9e9;


}

.info-items{
  //display: flex;
}


.info-title{
  padding-top: 97px;
  color: #635c73;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.info-items img{
  margin-top: 37px;
  margin-bottom: 20px;
}

.info-items_block h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  //text-align: left;

}

.info-items_block p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  //text-align: left;

}


.info-items{
  text-align: center;
}

.main-img{
  width: 320px;
  margin-top: 58px;
}

@media screen  and (min-width: 600px){
.info-items{
  display: flex;
  align-items: center;
  //justify-content: left;
}
  .info-items img{
    margin-left: 50px;
  }

  .info-items_block{

    margin-left: 20px;
    margin-right: 20px;

  }

  .main-img{
    width: 100%;

  }

 }

@media screen  and (min-width: 993px){
 .info-item {
   width: 50%;


 }

  .main-img{
    width: 50%;
  }

  .main-info{
    display: flex;
    flex-direction: column;
    height: 711px;
    flex-wrap: wrap;
    justify-content: flex-end;

  }

  .right-block{
    //display: flex;

  }
}